[submodule ".config/alacritty"]
	path = .config/alacritty
	url = git@github.com:jorismertz/alacritty.git
[submodule ".config/lazygit"]
	path = .config/lazygit
	url = git@github.com:jorismertz/lazygit.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:jorismertz/tmux.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jorismertz/nvim.git
[submodule ".config/waybar"]
	path = .config/waybar
	url = git@github.com:jorismertz/waybar.git
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = git@github.com:jorismertz/wezterm.git
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:jorismertz/zsh.git
[submodule ".config/hypr"]
	path = .config/hypr
	url = git@github.com:jorismertz/hypr.git
