bspwm/.gap-state
fish/completions
fish/conf.d
fish/functions
tmux/plugins
BraveSoftware/Brave-Browser
litecli
neofetch
pulse
qBittorrent
zsh/.zcompdump
Thunar
go/telemetry/local
gtk-3.0
mimeapps.list
