bspwm/.gap-state
fish/completions
fish/conf.d
fish/functions
tmux/plugins
BraveSoftware/Brave-Browser
litecli
neofetch
pulse
qBittorrent
zsh/.zcompdump
gtk-2.0/gtkfilechooser.ini
mimeapps.list
go/telemetry/local
btop
blender/4.2/config/recent-files.txt
blender/4.2/config/recent-searches.txt
blender/4.2/scripts/addons
blender/4.2/config/bookmarks.txt
GIMP/2.10
blender/4.2/config
