* {
  all: unset; // Unsets everything so you can style everything from scratch
}


// Global Styles
.bar {
  background-color: rgba(38,35,58,0.6);
  color: #b0b4bc;
}

// Styles on classes (see eww.yuck for more information)
.sidestuff > * {
  padding: 0 15px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspace {
  padding: 0 20px;
  margin: 0;
}
.workspace.current {
  background-color: green;
}

.workspaces button:hover {
  color: #D35D6E;
}
