name: "Build and populate cache"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  build:
    name: Build for ${{ matrix.arch }}-${{ matrix.kernel }}
    runs-on: ${{ matrix.runner }}
    container: ${{ matrix.container }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: macos-latest
            kernel: darwin 
            arch: aarch64
          - runner: ubuntu-latest
            kernel: linux 
            arch: x86_64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: "${{ matrix.nixPath }}"
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: juliamertz
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build nix packages
        env:
          EVAL_PATH: ".#checks.${{ matrix.arch }}-${{ matrix.kernel }}"
        run: |
          nix run github:Mic92/nix-fast-build -- \
              --flake "$EVAL_PATH" \
              --cachix-cache "${{ matrix.cachixName }}" \
              --skip-cached
