name: check
on:
  pull_request:
    branches: ['main']

jobs:
  build:
    name: Check ${{ matrix.arch }}-${{ matrix.kernel }}
    runs-on: ${{ matrix.runner }}
    container: ${{ matrix.container }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: macos-latest
            kernel: darwin
            arch: aarch64
          - runner: ubuntu-latest
            kernel: linux
            arch: x86_64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes pipe-operators
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            accept-flake-config = true

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: juliamertz
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Check packages
        env:
          EVAL_PATH: ".#checks.${{ matrix.arch }}-${{ matrix.kernel }}"
        run: |
          nix run github:Mic92/nix-fast-build -- \
              --flake "$EVAL_PATH" \
              --cachix-cache "${{ matrix.cachixName }}" \
              --skip-cached
