name: format

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes pipe-operators
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            accept-flake-config = true

      - name: Run treefmt via nix shell
        run: nix develop --command treefmt

      - name: Commit changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "run treefmt"
          file_pattern: ./**
